<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="apiUrl" value="https://example.retailcrm.ru"/>
    <add key="apiKey" value="BBBBBBBBBBBBBBBBBBBBBBBBBBBB"/>
    <add key="site" value="default"/>
    <add key="store" value="test-store"/>
    <add key="manager" value="1"/>
    <add key="customer" value="1" />
    <add key="phone" value="+79999999999"/>
  </appSettings>
</configuration>